.slider {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative; /* Garante que o hover só afeta o carrossel */
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  gap: 20px; /* Espaço entre ícones */
  width: max-content; /* Permite scroll contínuo */
  animation: autoRun 40s linear infinite;
}

.slider .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.slider .item img {
  width: 45px; /* Corrige o tamanho dos ícones */
  height: 45px;
}

.slider .item:hover img {
  transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

@keyframes autoRun {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Pausa a animação quando o cursor esta em cima */
.slider:hover > .list {
  animation-play-state: paused; /* Pausa a animação apenas quando o cursor está diretamente sobre o carrossel */
}

.carousel-container {
  text-align: center;
  margin-bottom: 2rem;
}

.carousel-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
}