.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li {
  position: relative; /* Necessário para o efeito */
  cursor: pointer;
  padding-bottom: 5px; /* Dá um espaço para o sublinhado */
}

/* Criando o sublinhado animado */
.navbar li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
